{% extends "base.html" %}
{% load cms_tags static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block header %}
    {% placeholder "header" or %}
        <!-- ======================= Start Page Title ===================== -->
        <div class="page-title image-title" style="background-image:url(assets/img/tour.jpg);">
            <div class="container">
                <div class="page-title-wrap">
                <h2> Título </h2>
                <p><a href="#" class="theme-cl">Home</a> | <span> Descripción </span></p>
                </div>
            </div>
        </div>
        <!-- ======================= End Page Title ===================== -->
    {% endplaceholder %}
{% endblock header %}

{% block content %}
    <!-- =========== Who We Are =================== -->
    <section>
        <div class="container">
        
            <div class="row">
            
                <div class="col-md-6 col-sm-12">
                    <div class="ab-detail">
                        <h2> ¿Quienes somos? </h2>
                        {% static_placeholder "p_about" or %}
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
                        {% endstatic_placeholder %}
                    </div>
                </div>
                
                <div class="col-md-6 col-sm-12">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="info-module">
                                <i class="ti-help-alt cl-success"></i>
                                <h4 class="infobox_title"> Soporte 24x7 </h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="info-module">
                                <i class="ti-world cl-success"></i>
                                <h4 class="infobox_title"> Más de 100 paises </h4>
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                    
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="info-module">
                                <i class="ti-headphone-alt cl-success"></i>
                                <h4 class="infobox_title"> 740+ Branches </h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="info-module">
                                <i class="ti-user cl-success"></i>
                                <h4 class="infobox_title"> Más de 10.000 clientes </h4>
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                
            </div>
            
        </div>
    </section>
    <!-- =========== End Who We are =================== -->
{% endblock content %}
