{% load static %}
<div class="col-md-4 col-sm-6 col-xs-12 b_packages">
    <!-- OFFER BRAND -->
    <div class="band"> <img src="images/band.png" alt="" /> </div>
    <!-- IMAGE -->
    <div class="v_place_img"> <img src="{{ instance.image1.url }}" alt="Tour Booking" title="Tour Booking" /> </div>
    <!-- TOUR TITLE & ICONS -->
    <div class="b_pack rows">
        <!-- TOUR TITLE -->
        <div class="col-md-8 col-sm-8">
            <h4><a href="{% url 'service_detail' instance.id %}"> {{ instance.title }} <span class="v_pl_name"> {{ instance.sub_title }} </span></a></h4> </div>
        <!-- TOUR ICONS -->
        <div class="col-md-4 col-sm-4 pack_icon">
            <ul>
                <li>
                    <a href="{% url 'service_detail' instance.id %}"><img src="{% static 'assets/images/clock.png' %}" alt="Date" title="Tour Timing" /> </a>
                </li>
                <li>
                    <a href="{% url 'service_detail' instance.id %}"><img src="{% static 'assets/images/info.png' %}" alt="Details" title="View more details" /> </a>
                </li>
                <li>
                    <a href="{% url 'service_detail' instance.id %}"><img src="{% static 'assets/images/price.png' %}" alt="Price" title="Price" /> </a>
                </li>
                <li>
                    <a href="{% url 'service_detail' instance.id %}"><img src="{% static 'assets/images/map.png' %}" alt="Location" title="Location" /> </a>
                </li>
            </ul>
        </div>
    </div>
</div>