{% extends "base.html" %}
{% load cms_tags static sekizai_tags %}

{% block title %} Detalles {% endblock title %}

{% block header %}
    {% static_placeholder "header" or %}
        <!-- ======================= Start Page Title ===================== -->
        <div class="page-title image-title" style="background-image:url(assets/img/tour.jpg);">
            <div class="container">
                <div class="page-title-wrap">
                <h2> Título </h2>
                <p><a href="#" class="theme-cl">Home</a> | <span> Descripción </span></p>
                </div>
            </div>
        </div>
        <!-- ======================= End Page Title ===================== -->
    {% endstatic_placeholder %}
{% endblock header %}

{% block content %}
    <section class="profile-header-nav padd-0 bb-1">
        <div class="container">
            <div class="row">
                
                <div class="col-md-8 col-sm-8">
                    <div class="tab" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#Overview" aria-controls="home" role="tab" data-toggle="tab"><i class="ti-user"></i> Visión General </a></li>
                            <li role="presentation"><a href="#Features" aria-controls="profile" role="tab" data-toggle="tab"><i class="ti-clipboard"></i> Itinerario </a></li>
                            <li role="presentation"><a href="#Review" aria-controls="messages" role="tab" data-toggle="tab"><i class="ti-thumb-up"></i> Incluye / No incluye </a></li>
                            <li role="presentation"><a href="#Photos" aria-controls="messages" role="tab" data-toggle="tab"><i class="ti-gallery"></i> Galeria </a></li>
                        </ul>
                        <!-- Tab panes -->
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-4">
                    <div class="fl-right">
                        <!-- <a href="/contacto" class="btn theme-btn"><span class="fa fa-paper-plane mrg-r-20"></span> Enviar mensaje</a> -->
                        <button type="button" class="btn theme-btn" onclick="window.location.href='/contacto'"><span class="fa fa-paper-plane mrg-r-10"></span> Enviar mensaje </button>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!-- ============== Tour Detail ====================== -->  
    <section class="tr-single-detail gray-bg">
        <div class="container">
            <div class="row">
            
                <div class="col-md-8 col-sm-12">
                    <div class="tab-content tabs">
                        
                        <div role="tabpanel" class="tab-pane fade in active" id="Overview">
                            
                            <!-- Overview -->
                            <!-- <div class="row">
                                <div class="tr-single-box">
                                    <div class="tr-single-header">
                                        <h4><i class="fa fa-star-o"></i>Overview</h4>
                                    </div>
                                    <<div class="tr-single-body">
                                        <div class="row">
                                        
                                            <div class="col-md-4 col-sm-6">
                                                <div class="listing-features">
                                                    <div class="listing-features-box">
                                                        <div class="listing-features-thumb">
                                                            <img src="assets/img/muscle.png" class="img-responsive" alt="" />
                                                        </div>
                                                        <div class="listing-features-detail">
                                                            <h4>Gym & Fitness</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-4 col-sm-6">
                                                <div class="listing-features">
                                                    <div class="listing-features-box">
                                                        <div class="listing-features-thumb">
                                                            <img src="assets/img/wifi.png" class="img-responsive" alt="" />
                                                        </div>
                                                        <div class="listing-features-detail">
                                                            <h4>Free Wifi</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-4 col-sm-6">
                                                <div class="listing-features">
                                                    <div class="listing-features-box">
                                                        <div class="listing-features-thumb">
                                                            <img src="assets/img/spa-waters.png" class="img-responsive" alt="" />
                                                        </div>
                                                        <div class="listing-features-detail">
                                                            <h4>Free Spa</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-4 col-sm-6">
                                                <div class="listing-features">
                                                    <div class="listing-features-box">
                                                        <div class="listing-features-thumb">
                                                            <img src="assets/img/tea.png" class="img-responsive" alt="" />
                                                        </div>
                                                        <div class="listing-features-detail">
                                                            <h4>Restaurent</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-4 col-sm-6">
                                                <div class="listing-features">
                                                    <div class="listing-features-box">
                                                        <div class="listing-features-thumb">
                                                            <img src="assets/img/parking.png" class="img-responsive" alt="" />
                                                        </div>
                                                        <div class="listing-features-detail">
                                                            <h4>Parking On Site</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-4 col-sm-6">
                                                <div class="listing-features">
                                                    <div class="listing-features-box">
                                                        <div class="listing-features-thumb">
                                                            <img src="assets/img/poker.png" class="img-responsive" alt="" />
                                                        </div>
                                                        <div class="listing-features-detail">
                                                            <h4>Casino</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            
                            <!-- Description -->
                            <div class="row">
                                <div class="tr-single-box">
                                    <div class="tr-single-header">
                                        <h4><i class="ti-files"></i> Descripción </h4>
                                    </div>
                                    <div class="tr-single-body">
                                        <p> {{ detail.description }} </p>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Amenities -->
                            <div class="row">
                                <div class="tr-single-box">
                                    <div class="tr-single-header">
                                        <h4><i class="ti-agenda"></i> Sugerencias </h4>
                                    </div>
                                    <div class="tr-single-body">
                                        <ul class="amenities third">
                                            {% for item in detail.suggestion.all %}
                                                <li> {{ item.description }} </li>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Guider -->
                            <!-- <div class="row">
                                <div class="tr-single-box">
                                    <div class="tr-single-header">
                                        <h4><i class="ti-user"></i>Guide</h4>
                                    </div>
                                    <div class="tr-single-body">
                                    
                                        <div class="guider-box-detail">
                                            <div class="guider-box-thumb">
                                                <img src="assets/img/user-6.jpg" class="img-responsive img-circle" alt="" />
                                            </div>
                                            <div class="guider-box-detail-content">
                                                <h4>Shilka Niharika<sup class="theme-cl">Guide</sup></h4>
                                                <p>4 year Experience<span class="guider-status bg-success">Online</span></p>
                                                <a href="#" class="btn btn-info">View Detail</a>
                                                <a href="#" class="btn btn-default">Message</a>
                                            </div>
                                            <div class="pr-table">
                                                <ul>
                                                    <li>
                                                        <strong>Tour type:</strong>
                                                        <span class="t-type bg-danger">Extraordinary</span>
                                                        <span class="t-type bg-warning">Food</span>
                                                        <span class="t-type bg-success">Travel</span>
                                                    </li>
                                                    <li><strong>Activity Lavel:</strong>Minimal</li>
                                                    <li><strong>Language:</strong>English, French</li>
                                                    <li><strong>Location:</strong>Canada</li>
                                                    <li><strong></strong></li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div> -->
                            
                            <!-- Location -->
                            <div class="row">
                                <div class="tr-single-box">
                                    <div class="tr-single-header">
                                        <h4><i class="ti-map-alt"></i> Ubicación </h4>
                                    </div>
                                    <div class="tr-single-body">
                                        <div class="height-350" id="map-canvas" data-latitude="{{ detail.latitude }}" data-longitude="{{ detail.longitude }}" data-mapTitle="Our Location"></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <!-- ============ Features =================== -->
                        <div role="tabpanel" class="tab-pane fade in" id="Features">
                            
                            <!-- About Features -->
                            <!-- <div class="row">
                                <div class="tr-single-box">
                                    <div class="tr-single-header">
                                        <h4><i class="ti-files"></i>About Features</h4>
                                    </div>
                                    <div class="tr-single-body">
                                        <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
                                    </div>
                                </div>
                            </div> -->
                            
                            <!-- Extra features -->
                            <div class="row">
                                <div class="tr-single-box">
                                    <div class="tr-single-header">
                                        <h4><i class="ti-pencil-alt"></i> Itinerario del programa </h4>
                                    </div>
                                    <div class="tr-single-body">
                                        
                                        <ul class="simple-features-list">
                                            {% for item in detail.itinerary.all %}
                                                <li> {{ item.description }} </li>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <!-- ============ Review =================== -->
                        <div role="tabpanel" class="tab-pane fade in" id="Review">
                            
                            <div class="row">
                                <div class="tr-single-box">
                                    <div class="tr-single-header">
                                        <h4><i class="ti-agenda"></i> No incluye </h4>
                                    </div>
                                    <div class="tr-single-body">
                                        <ul class="amenities third">
                                            {% for item in detail.suggestion.all %}
                                                <li> {{ item.description }} </li>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <!-- ============ Photos =================== -->
                        <div role="tabpanel" class="tab-pane fade in" id="Photos">
                            <div class="row">
                                <div class="tr-single-box">
                                    <div class="tr-single-header">
                                        <h4><i class="ti-gallery"></i> Galeria </h4>
                                    </div>
                                    <div class="tr-single-body">
                                        <ul class="gallery-list">
                                            <li>
                                                <a data-fancybox="gallery" href="{{ detail.image1.url }}">
                                                    <img src="{{ detail.image1.url }}" class="img-responsive" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a data-fancybox="gallery" href="{{ detail.image2.url }}">
                                                    <img src="{{ detail.image2.url }}" class="img-responsive" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a data-fancybox="gallery" href="{{ detail.image3.url }}">
                                                    <img src="{{ detail.image3.url }}" class="img-responsive" alt="">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            
                <!-- Sidebar Start -->
                <div class="col-md-4 col-sm-12">
                    
                    <!-- Tourist Overview -->
                    <div class="tr-single-box">
                        <div class="tr-single-header">
                            <h4> Bob Smith <sup class="cl-success"> Guia oficial de Turismo </sup></h4>
                        </div>
                        
                        <div class="tr-single-body">
                            <ul class="extra-service half">
                                <li>
                                    <div class="icon-box-icon-block">
                                        <a href="#">
                                            <div class="icon-box-round">
                                                <i class="ti-user"></i>
                                            </div>
                                            <div class="icon-box-text">
                                                3509 Personas
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="icon-box-icon-block">
                                        <a href="#">
                                            <div class="icon-box-round">
                                                <i class="ti-timer"></i>
                                            </div>
                                            <div class="icon-box-text">
                                                Por 7 días
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="icon-box-icon-block">
                                        <a href="#">
                                            <div class="icon-box-round">
                                                <i class="ti-eye"></i>
                                            </div>
                                            <div class="icon-box-text">
                                                4021 Vistas
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="icon-box-icon-block">
                                        <a href="#">
                                            <div class="icon-box-round">
                                                <i class="ti-share"></i>
                                            </div>
                                            <div class="icon-box-text">
                                                compartido 3012
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="icon-box-icon-block">
                                        <a href="#">
                                            <div class="icon-box-round">
                                                <i class="ti-comment-alt"></i>
                                            </div>
                                            <div class="icon-box-text">
                                                221 comentarios
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="icon-box-icon-block">
                                        <a href="#">
                                            <div class="icon-box-round">
                                                <i class="ti-heart"></i>
                                            </div>
                                            <div class="icon-box-text">
                                                20 Likes
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>
                    
                    <!-- overview & booking Form -->
                    <!-- <div class="tr-single-box">
                        <div class="tr-single-header">
                            <div class="entry-meta">
                                <div class="meta-item meta-comment fl-right">
                                    <div class="view-box">
                                        <div class="fl-right">
                                            <h4 class="font-20"><span class="theme-cl font-20">$</span>216<sub>/Per Persion</sub></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="meta-item meta-author">
                                    <div class="hotel-review entry-location">
                                        <span class="review-status bg-success"><i class="ti-check"></i></span>
                                        <h6><span class="cl-success font-bold">Good</span>1362 Review</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tr-single-body">
                            <form class="book-form">
                            
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Check In</label>
                                            <input type="text" name="checkin" id="checkin" class="form-control" value="Check in">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Check Out</label>
                                            <input type="text" name="checkout" id="checkout" class="form-control" value="Check out">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>Adult</label>
                                            <input type="number" name="adult" value="1" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>Children</label>
                                            <input type="number" name="children" value="0" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>Room</label>
                                            <div class="sl-side">
                                                <select class="wide form-control">
                                                    <option data-display="Room">1</option>
                                                    <option value="1">2</option>
                                                    <option value="2">3</option>
                                                    <option value="3">4</option>
                                                    <option value="4">5</option>
                                                    <option value="4">5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>Night</label>
                                            <div class="sl-side">
                                                <select class="wide form-control">
                                                    <option data-display="Night">1</option>
                                                    <option value="1">2</option>
                                                    <option value="2">3</option>
                                                    <option value="3">4</option>
                                                    <option value="4">5</option>
                                                    <option value="4">5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button type="button" class="btn btn-default full-width text-left" data-toggle="collapse" data-target="#extra-service">Choose Extra Amenities<i class="ti-settings fl-right mrg-top-5"></i></button>
                                        <div id="extra-service" class="collapse">
                                            <div class="extra-features">
                                                <ul class="extra-service half">
                                                
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input type="checkbox" id="1">
                                                            <label for="1"></label>
                                                        </span>
                                                        Satellite TV
                                                    </li>
                                                    
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input type="checkbox" id="2">
                                                            <label for="2"></label>
                                                        </span>
                                                        Coffeemaker
                                                    </li>
                                                    
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input type="checkbox" id="3">
                                                            <label for="3"></label>
                                                        </span>
                                                        Luxury Bedding
                                                    </li>
                                                    
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input type="checkbox" id="4">
                                                            <label for="4"></label>
                                                        </span>
                                                        Swimming Pool
                                                    </li>
                                                    
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input type="checkbox" id="5">
                                                            <label for="5"></label>
                                                        </span>
                                                        Free Parking
                                                    </li>
                                                    
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input type="checkbox" id="6">
                                                            <label for="6"></label>
                                                        </span>
                                                        Free Wifi
                                                    </li>
                                                    
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input type="checkbox" id="7">
                                                            <label for="7"></label>
                                                        </span>
                                                        Pets Allow
                                                    </li>
                                                    
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input type="checkbox" id="8">
                                                            <label for="8"></label>
                                                        </span>
                                                        Elevator
                                                    </li>
                                                    
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input type="checkbox" id="9">
                                                            <label for="9"></label>
                                                        </span>
                                                        Spa/Sauna 
                                                    </li>
                                                    
                                                    <li>
                                                        <span class="custom-checkbox">
                                                            <input type="checkbox" id="11">
                                                            <label for="11"></label>
                                                        </span>
                                                        Security cameras 
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-xs-12 mrg-top-15">
                                        <a href="#" class="btn btn-arrow theme-btn full-width">Book now</a>     
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div> -->
                    
                    <!-- Share this -->
                    <div class="tr-single-box">
                        <div class="tr-single-header">
                            <h4> Compartir </h4>
                        </div>
                        
                        <div class="tr-single-body">
                            <ul class="extra-service half">
                                <li>
                                    <div class="icon-box-icon-block">
                                        <a href="#">
                                            <div class="icon-box-round">
                                                <i class="fab fa-facebook-f"></i>
                                            </div>
                                            <div class="icon-box-text">
                                                Facebook
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="icon-box-icon-block">
                                        <a href="#">
                                            <div class="icon-box-round">
                                                <i class="fab fa-google-plus"></i>
                                            </div>
                                            <div class="icon-box-text">
                                                Google plus
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="icon-box-icon-block">
                                        <a href="#">
                                            <div class="icon-box-round">
                                                <i class="fab fa-twitter"></i>
                                            </div>
                                            <div class="icon-box-text">
                                                Twitter
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="icon-box-icon-block">
                                        <a href="#">
                                            <div class="icon-box-round">
                                                <i class="fab fa-linkedin"></i>
                                            </div>
                                            <div class="icon-box-text">
                                                LinkedIn
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="icon-box-icon-block">
                                        <a href="#">
                                            <div class="icon-box-round">
                                                <i class="fab fa-instagram"></i>
                                            </div>
                                            <div class="icon-box-text">
                                                Instagram
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="icon-box-icon-block">
                                        <a href="#">
                                            <div class="icon-box-round">
                                                <i class="fab fa-pinterest"></i>
                                            </div>
                                            <div class="icon-box-text">
                                                Pinterest
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>
                <!-- /col-md-4 -->
            </div>
        </div>
    </section>
    <!-- ============== Tour Detail ====================== -->

    {% addtoblock "js" %}
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var latitude = $('#map-canvas').attr("data-latitude");
            var longitude = $('#map-canvas').attr("data-longitude");
            var myCenter = new google.maps.LatLng(latitude, longitude);
            var mapCanvas = document.getElementById("map-canvas");
            var mapOptions = {
                center: myCenter,
                zoom: 12
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
            var marker = new google.maps.Marker({position:myCenter});
            marker.setMap(map);
        });
    </script>
    {% endaddtoblock %}
{% endblock content %}

